body {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    background-color:#070f1b ;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    font-size: 23px;

  }
  .header{
    background: linear-gradient(357deg, rgb(0, 22, 27) 0%,
     rgba(7,15,27,1) 35%, hwb(202 11% 0%) 130%);
    display: flex;
    padding:10px 25px;
    justify-content: space-around;
    align-items: center;
    font-size: 23px;
    flex-wrap: wrap;
  }
  ul{
    display: flex;
    gap: 35px;
    list-style: none;
  }
  a{
    color: aliceblue;
    text-decoration:overline;
  }
  .herotext{
    padding:75px 150px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
  }
  .herotext0 #herotext1{
    font-size: 50px;
  }
  .herotext0 #herotext2{
    font-size: 23px;
    text-indent: 60px;
  }
  .herotext0 {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    flex: auto;
  }
  #cloudIcon {
    max-width: 500px;
    max-height: 500px;
    flex:1 2 auto;
  }
  span:hover ,a:hover {
    color: rgb(2, 204, 255);
  }
.projects{
  background-color: aliceblue;
  color: #070f1b;
}
.icons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.projects img {
  background: linear-gradient(5deg, aliceblue 0%,
  aliceblue 35%, hwb(202 11% 0%) 130%);
  border: 5px;
  border-radius: 80px;
  width: 300px;
  height: auto;
}
.certifications img{
  width: 300px;
  height: 300px;
}
.project{
  max-width: 300px;
  text-align: center;
}
h1 {
  text-align: center;
  margin-bottom: 100px;
}
